# TP - Titanic

Ce TP est issue du site https://isn-icn-ljm.pagesperso-orange.fr/


![Texte alternatif…](https://isn-icn-ljm.pagesperso-orange.fr/images/titanic.png)

Le Titanic appareille de Southampton (Angleterre) le mercredi 10 avril à 12 h 15 .

Six heures plus tard, à 18 h 15, il fait escale dans la rade de Cherbourg. Il y débarque 24 passagers et en embarque 274, amenés par les transbordeurs Nomadic et Traffic. Il appareille à 20 h 10.

Le Titanic fait route vers l'Irlande. Il arrive à Queenstown (aujourdhui Cobh) le 11 avril à 11 h 30. Il débarque 7 passagers et en embarque 120. À 13 h 30, le paquebot appareille et entame sa traversée de l'Atlantique vers New York .

Le 14 avril, à 23 h 40 (heure locale, GMT-3), il percute un iceberg au large de Terre-Neuve. Il sombre le 15 avril à 2 h 20, causant la mort de 1 524 personnes.

(source wikimanche)

## Le fichier 

[Ce fichier ( titanic.csv )](https://isn-icn-ljm.pagesperso-orange.fr/fichiers/titanic.csv) donne des informations sur un certain nombre de passagers du Titanic

Il s'agit d'un fichier de données avec la virgule comme séparateur et la première ligne comme descripteurs.

Ouvrez ce fichier avec Libre Office Calc

Identifiez les descripteurs :

* Classe ( il y avait 3 classes [voir ici](https://fr.wikipedia.org/wiki/Passagers_du_Titanic) )

* Survivant

* Lieu d'embarquement

## Un script :

Le script ci-dessous, ouvre le fichier 'titanic.csv' et stocke chaque ligne sous forme de dictionnaire ( avec les descripteurs comme clés) dans une liste.

**Vous aurez pris soin de déposer le fichier titanic.csv dans le même dossier que ce notebook**

In [ ]:
import csv
reader = csv.DictReader(open('/content/sample_data/titanic.csv', 'r'))
titanic = []
for row in reader:
    titanic.append(dict(row))


print(len(titanic))
print(titanic[53])

891
{'PassengerId': '54', 'Survived': '1', 'Pclass': '2', 'Name': 'Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)', 'Sex': 'female', 'Age': '29', 'SibSp': '1', 'Parch': '0', 'Ticket': '2926', 'Fare': '26', 'Cabin': '', 'Embarked': 'S'}

## À faire :


Écrire un script qui détermine le nombre de survivant

**Attention :**

* La valeur de la clé 'Survived' est de type string

* Pour l'atteindre on utilise l'instruction : titanic\[n° de ligne\]\['Survived'\]

In [ ]:
# Écrire le script ici
s=0
for el in titanic:
  if el["Survived"]=='1':
    s=s+1
print(s)

342

## À faire:
Écrire un programme qui :

  Affiche le pourcentage de survivants par classe

In [ ]:
# Écrire le script ici

## À faire :
Écrire un programme qui :

Donne le nombre de survivants embarqués à Cherbourg

In [ ]:
# Écrire le script ici